# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
/public/79182621.jpeg
/public/cristofer-maximilian-5_nJw3UUgpQ-unsplash.jpg
/src/components/About/79182621.jpeg
/src/data/punch-an-ork/
/src/data/evtracker/
/.stylelintrc.json
/.eslintrc.json
