html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;

}

.nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: darkgrey;
    box-shadow: 0px 3px 5px gray;
    width: 960px;
}

.nav-bar-title-link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.nav-bar-title-link:hover {
    color: black;
}

.nav-bar-buttons {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-bar-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-bar-link:hover {
    color: rgb(48,48,48);
}

.about-me {
    width: 960px;
    padding: 0px 20px;
    display: block;
}

.greet-and-picture {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.hello {
    font-size: 150px;
}

.my-picture{

}

.my-picture img {
    border-radius: 50%;
    overflow: hidden;
}

.about-and-video {
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.intro-video {
    text-align: center;
}

.projects {
    width: 960px;
    padding: 0px 20px;
    display: block;
}

.projects-title {
    font-size: 100px;
    padding-top: 40px;
}
.project-title {
    padding-top: 10px;
    font-size: 30px;
}

.project-desc {
    padding-top: 10px;
    font-size: 15px;
}
.project-details {
    padding-top: 10px;
    font-size: 20px;
}

.project-list video {
    padding-top: 10px;
}

.project-details a {
    text-decoration: none;
    color: white;
    background-color: #3fb950;
    border-radius: 10%;
    padding: 5px;
}

.project-details a:hover {
    background-color: rgb(48,48,48);
}

.skills {
    width: 960px;
    padding: 0 20px;
    display: block;
}

.skills-title {
    font-size: 100px;
    padding-top: 40px;
}

.skills-description {
    font-size: 20px;
}

.list-of-skills {
    font-size: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.list-of-skills ul {
    list-style: none;
}

.education {
    width: 960px;
    padding: 0 20px;
    display: block;
}

.education-title {
    font-size: 100px;
    padding-top: 40px;
}

.each-education-title {
    padding-top: 10px;
    font-size: 25px;
}

.each-education-experiences {
    padding-top: 10px;
    font-size: 15px;
}

.each-education-experiences-list {
    list-style: none;
}

.contact {
    width: 960px;
    padding: 0 20px 20px;
    display: block;
}

.contact-title {
    font-size: 100px;
    padding-top: 40px;
}

.contact-body {
    display: flex;
    gap: 50px;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 2%;
}

.form-element {
    padding-bottom: 10px;
}

.input-label {
    float: left;
    width: 100px;
    padding-right: 10px;
    text-align: right;
}

.form-submit {
    text-align: right;
}

footer {
    display: block;
    padding: 5px 10px;
    width: 960px;
    background-color: darkgrey;
    box-shadow: 0px 3px 5px gray;
    font-weight: bold;
}

footer ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer li a img {
    width: 25px;
}

footer li a:hover {
    color: rgb(48,48,48);
}










